.wrapper_page {
    max-width: 1450px;
    margin: 0 auto;
}

.title_createtest {
    padding-top: 40px;
    color: #2269db;
    font-size: 27px;
    text-align: center;
}

.container_question {
    
}